*{
    padding: 0;
    margin: 0;
    font-family: "League Spartan",sans-serif;

}


@media screen and (min-width:1120px) {
   
    body{
       min-height: 745px;
       width: 100%;
       /* background-color: hsl(180, 52%, 96%); */
    
       
    }
    header{
        background-image:url(/images/bg-header-desktop.svg) ;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 150px;
        background-color:hsl(180, 29%, 50%);
    
    }
    #back{
        background-color: hsl(180, 52%, 96%);
        min-height: 595px;
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        /* padding-top: 30px; */
    
    }
    #back1{
        background-color: hsl(180, 52%, 96%);
        /* min-height: 595px; */
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    #one{
        /* display: block; */
        /* align-items: center; */
        margin-bottom: 20px;
        width: 80%;
        height: 150px;
        background-color: white;
        box-shadow: 0px 3px 20px -7px  hsl(180, 29%, 50%);
        border-radius: 5px;
        padding: 30px 30px;
        box-sizing: border-box;
        
    }
    #snap{
        float: left;
        padding-right: 30px;
    }
    #photo{
        color:hsl(180, 29%, 50%) ;
        font-weight: bolder;
        font-size: 0.9em;
    }
    .new{
        background-color:hsl(180, 29%, 50%) ;
        border-radius: 20px;
        margin: 0 5px 0 10px;
        padding: 1px 5px;
        font-size: 0.9em;
        color: white;
        /* display: none; */
    }
    #featured{
      
            background-color:black ;
            border-radius: 20px;
            
            padding: 1px 5px;
            font-size: 0.9em;
            color: white;
        
    }
    #top{
        margin-bottom: 10px ;
    }
    #one p{
        font-weight: bolder;
        margin-bottom: 10px;
        cursor: pointer;
    }
    #one p:hover{
        color:hsl(180, 29%, 50%) ;
        transition: 0.2s;
    
    }
    .ago{
        margin-right: 10px;
        font-size: 0.9em;
        color: hsl(180, 8%, 52%);
        
    }
    .skills{
        color:hsl(180, 29%, 50%) ;
        border-radius: 5px;
        padding: 5px 10px;
        background-color:hsl(180, 31%, 95%) ;
        font-size: 0.8em;
        font-weight: bold;
        margin-right: 10px;
    
    }
    .skills:hover{
        background-color:hsl(180, 29%, 50%) ;
        color: white;
        transition: 0.5s;
        cursor : pointer ;
        
    }
    #skill{
        float: right;
        /* height: 100px; */
        margin: 30px
    }
    #all{
        float: left;
    
    }
    .gone{
        display: none;
    }
    #select{
        width: 80%;
        height: 60px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 3px 20px -7px  hsl(180, 29%, 50%);
        position: relative;
        top: -30px;
        padding: 15px 30px;
        box-sizing: border-box;
    
    }
    .tag{
        color:hsl(180, 29%, 50%) ;
        border-radius: 5px;
        padding: 4.5px 8px;
        background-color:hsl(180, 31%, 95%) ;
        font-size: 0.8em;
        font-weight: bold;
        margin-right: 10px;
        text-align: center;
    }
    .remove{
        background-color:hsl(180, 29%, 50%) ;
        width: 9px;
        height: 10px;
        margin: 0;
        padding: 6px;
        position: relative;
        top: 6.7px;
        right: -10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
       
    }
    .remove:hover{
        background-color:black ;
        transition: 0.5s;
    }
    .inactive{
        display: none;
    }
    #clear{
        color:hsl(180, 29%, 50%);
        float: right;
        padding-top:5px ;
        padding-bottom: -2px;
        font-weight: bold;
        font-size: 0.9em;
        cursor: pointer;
    }
    #clear:hover{
       border-bottom: 2px solid;
      
    }
}